name: Build Release

# Step 1: Choose the branch or branches you want to run this workflow
# Whenever A Code Pushed into master Branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  # This workflow contains a single job called "build"
  build:
    name: Job Started Debug Build
    runs-on:  Ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup Java JDK 1.8
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 1.8

      - name: Install NDK
        run: echo "y" | sudo /usr/local/lib/android/sdk/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}

      # Permission
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      # Build Gradlew
      - name: Build with Gradle
        run: ./gradlew build


      # Build Release Apk
      - uses: r0adkll/sign-android-release@v1
        name: Signed Apk
        id: sign_app
        with:
          releaseDirectory: |
            app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "29.0.1"

      - uses: actions/upload-artifact@v2
        with:
          name: Signed Apk Bundle
          path: ${{steps.sign_app.outputs.signedReleaseFile}}


      - name: Make Gradle executable
        run: chmod +x ./gradlew
      - name: Build Release APK
        run: ./gradlew assembleRelease
      - name: Releasing using Hub
        uses: kyze8439690/action-release-releaseapk@master
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          APP_FOLDER: app


#
#jobs:
#  build:
#
#    name: Release Build Check
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v2
#      - name: set up JDK 1.8
#        uses: actions/setup-java@v1
#        with:
#          java-version: 1.8
##
##      ## Build all our Build Types at once ##
##      - name: Build all artifacts
##        id: buildAllApks
##        uses: eskatos/gradle-command-action@v1.3.3
##        with:
##           gradle-version: current
##           wrapper-cache-enabled: true
##           dependencies-cache-enabled: true
##           configuration-cache-enabled: true
##           arguments: assembleAndroidDebug
#
##
##
##      name: Make Gradle executable
##        run: chmod +x ./gradlew
##          - name: Build with Gradle
##            run: ./gradlew build
##          - name: Build Debug APK
##            run: ./gradlew assembleDebug
##          - name: Releasing using Hub
##            uses: ShaunLWM/action-release-debugapk@master
##            env:
##              GITHUB_TOKEN: ${{ secrets.TOKEN_GRADLE_APK }}
##              APP_FOLDER: app
##              RELEASE_TITLE: New Build
