name: Android CICD 
on: 
  push:
    branches: [ master, release/* ]
  pull_request:
    branches: [ master, release/* ]

jobs:
  build:
    runs-on:  Ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup Java JDK
        uses: actions/setup-java@v1.4.3
        with:
           java-version: 1.8
           
      - name: Install NDK
        run: echo "y" | sudo /usr/local/lib/android/sdk/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}
      
       
      - name: Run Test 
        run: ./gradlew test 
        
      - name: Build with Gradle 
        run: ./gradlew build  
      
      - name: Build Project 
        run: ./gradlew assemble 
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.1
        with: 
          name: App
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Running build command
          # Run your own gradle command to generate build.
          run: ./gradlew bundleRelease
            - name: Uploading build
              uses: actions/upload-artifact@v2
              with:
                name: bundle
                path: app/build/outputs/bundle/release/app-release.aab


      - name: Decode google-services.json
        env:
          FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG }}
        run: echo $FIREBASE_CONFIG > app/google-services.json


      - name: build release 
        run: ./gradlew assembleRelease
      - name: upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.3.2
        with:
         appId: ${{secrets.FIREBASE_APP_ID}}
         token: ${{secrets.FIREBASE_TOKEN}}
         groups: testers
         file: app/build/outputs/apk/release/app-release-unsigned.apk
      
