name: Android CICD 
on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on:  Ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup Java JDK
        uses: actions/setup-java@v1.4.3
        with:
           java-version: 1.8
           
      - name: Install NDK
        run: echo "y" | sudo /usr/local/lib/android/sdk/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}
      
       
      - name: Run Test 
        run: ./gradlew test 
        
      - name: Build with Gradle 
        run: ./gradlew build  
      
      - name: Build Project 
        run: ./gradlew assemble 
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.1
        with: 
          name: App
          path: app/build/outputs/apk/debug/app-debug.apk
      
      - name: build release 
        run: ./gradlew assembleRelease
      - name: upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{secrets.FIREBASE_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: testers
          file: app/build/outputs/apk/release/app-release-unsigned.apk
          
#       - name: build release 
#         run: ./gradlew assembleRelease
#       - name: list files
#         run: ls -lrt app/build/outputs/apk/release
      
#       - name: upload artifact to Firebase App Distribution
#         uses: wzieba/Firebase-Distribution-Github-Action@v1.3.2
#         with:
#          appId: 1:323378942991:android:6326e9f6b3c1d9e2903f7a
#          token: 1//0g2YqlcxyvhU6CgYIARAAGBASNwF-L9IrRCtcVKHlkc6lnSSwNZCRx4KTr4Laa2QMnGCWY1I0Si3e8ZxCqCWlLSsz8jSky-_9yts
#          groups: testers
#          file: app/build/outputs/apk/release/app-release.apk
      
