name: Manual Generate APK
on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]
  workflow_dispatch:

    inputs:
      baseUrl:
        description: 'Front End Base URL'
        required: true
        default: 'https://qa4.buynsta.com/'

      apiUrl:
        description: 'Back End Base URL'
        required: true
        default: 'https://j8s51w4tyf.execute-api.ap-south-1.amazonaws.com/'

      gateway:
        description: 'App Gateway'
        required: true
        default: 'q4'

      appType:
        description: 'App Type'
        default: 'assembleAndroidStaging'

jobs:
  apk:
    name: Generate Debug APK
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8


      - name: Install NDK
        run: echo "y" | sudo /usr/local/lib/android/sdk/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}


      - name: Restore Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Decode Secrets to Create local properties file
        env:
          BASEURL: ${{ secrets.BASEURL }}
          run: echo BASEURL="$BASEURL" > ./local.properties
            - run: echo baseUrl= ${{ github.event.inputs.baseUrl }} >> local.properties
            - run: echo apiUrl= ${{ github.event.inputs.apiUrl }} >> local.properties
            - run: echo gateway= ${{ github.event.inputs.gateway }} >> local.properties
            - run: echo appType= ${{ github.event.inputs.appType }} >> local.properties

      - name: Assemble app debug APK
        run: bash ./gradlew assembleDebug --stacktrace

      - name: Upload app APK
        uses: actions/upload-artifact@v1
        with:
          name: app-stage
          path: app/build/outputs/apk/*/**.apk


