############################
############################
### SonarCloud  GitHub Actions ##
############################
############################
#name: SonarCloud Scan
#
##
## Documentation:
## https://help.github.com/en/articles/workflow-syntax-for-github-actions
##
#
##############################
## Start the job on all push #
##############################
#on:
#  push:
#    branches: [ master, feature* ]
#  pull_request:
#    types: [opened, synchronize, reopened]
#
################
## Set the Job #
################
#jobs:
#  sonarCloudTrigger:
#    name: SonarCloud Trigger
#    runs-on: Ubuntu-20.04
#    steps:
#      - name: Clone Repository
#        uses: actions/checkout@v2
#        with:
#          # Disabling shallow clone is recommended for improving relevancy of reporting
#          fetch-depth: 0
#      - name: Analyze with SonarCloud
#        uses: sonarsource/sonarcloud-github-action@v1.3
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
